TP2_GUI/WebContent/META-INF/perguntas.dtd

<!ELEMENT perguntas ( pergunta+ ) >

<!ELEMENT pergunta ( texto, anexoMultimedia?, respPossiveis) >
<!ATTLIST pergunta id NMTOKEN #REQUIRED >
<!ATTLIST pergunta tema NMTOKEN #REQUIRED >
<!ATTLIST pergunta duracao NMTOKEN #REQUIRED >

<!ELEMENT respPossiveis ( resp+ ) >
<!ELEMENT resp ( #PCDATA ) >

<!ELEMENT texto ( #PCDATA ) >

<!ELEMENT anexoMultimedia ( #PCDATA ) >

